<!DOCTYPE>
<html>
<head>
	<title>Ishika's Profile</title>
</head>
<style>
	p {
  color: red;
  text-align: center;
} 
</style>

<body>
	<header>
		<h1>My Profile</h1>
		<hr>
		<img src="/home/ishika/Pictures/Screenshots/Screenshot from 2025-07-21 18-13-39.png " height="500" width="500" />
		<p>
			My name is <strong>Ishika khurana</strong>. I live in Indore,India. Currently I'm working in <strong>techritzy</strong>,and also studying <em>dsa</em>
		</p>
		<br>
		<p>
			I am currently working on skincare project ,learning how to make a <strong>website.</strong>
		</p>
		<hr>
		<p>
			Above is a picture of a <insert>beautiful scenery</insert>
		</p>

		<ol>
			<li>one</li>
			<li>two</li>
			<li>three</li>
		</ol>


	</header>

</body>